{:build
 {:autoconf       :pkg
  :automake       :pkg
  :gcc            :pkg
  :make           {:freebsd "gmake"}
  :pkg-config     {:freebsd "pkgconf"}
  :rust           {:default {:method  :command
                             :command "curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh /dev/stdin -y"}
                   :android :pkg}
  :go             {:android "golang"}}
 :minimal
 {:aria2          :pkg
  :babashka       {:default         :skip
                   :default/amd64   :make
                   :default/aarch64 :make
                   :void            :pkg}
  :curl           :pkg
  :doas           {:android :skip :rhel :skip :void "opendoas"}
  :fd             {:debian  "fd-find"
                   :freebsd "fd-find"
                   :rhel    "fd-find"}
  :fish           {:void "fish-shell"}
  :fuse           {:default :skip :freebsd :pkg}
  :fuse3          {:android :skip :freebsd :skip}
  :fzf            :pkg
  :gdu            :pkg
  :git            :pkg
  :glibc-repo     {:default :skip :android :pkg}
  :glibc-runner   {:default :skip :android :pkg}
  :gnupg          :pkg
  :gron           {:rhel :skip}
  :htop           :pkg
  :hurl           {:default :skip :freebsd :pkg :void :pkg}
  :jless          {:default :skip :android :pkg :freebsd :pkg :void :pkg}
  :jq             :pkg
  :lazygit        {:rhel :skip}
  :ldns           {:rhel :skip  :debian "ldnsutils"}
  :lsd            {:rhel :skip}
  :lsof           :pkg
  :imagemagick    {:freebsd "ImageMagick7" :void "ImageMagick"}
  :magic-wormhole {:alpine "magic-wormhole-rs" :android "magic-wormhole-rs" :freebsd "py311-magic-wormhole"}
  :mc             :pkg
  :mimeinfo       {:alpine  "perl-file-mimeinfo"
                   :android :skip
                   :debian  "libfile-mimeinfo-perl"
                   :freebsd "p5-File-MimeInfo"
                   :rhel    "perl-File-MimeInfo"
                   :void    "perl-File-MimeInfo"}
  :moreutils      :pkg
  :mtr            {:android :skip :freebsd "mtr-nox11"}
  :neovim         :pkg
  :net-tools      {:freebsd :skip}
  :nnn            :pkg
  :nvimpager      {:default :skip :freebsd :pkg :void :pkg}
  :p7zip          {:alpine "7zip" :freebsd "7-zip"}
  :patch          :pkg
  :pspg           :pkg
  :pv             :pkg
  :rclone         :pkg
  :ripgrep        :pkg
  :rlwrap         :pkg
  :rsync          :pkg
  :sd             {:rhel :skip}
  :socat          :socat
  :sq             {:default :skip :freebsd "sq" :void "sq"}
  :sqlite         {:debian "sqlite3" :freebsd "sqlite3"}
  :stow           :pkg
  :strace         {:freebsd :skip}
  :tmux           :pkg
  :tree-sitter    :pkg
  :unar           {:alpine :skip}
  :unzip          :pkg
  :usql           {:alpine :skip :rhel :skip}
  :uv             {:rhel :skip}
  :vpm            {:default :skip :void :pkg}
  :xh             {:rhel :skip}
  :xxd            {:rhel :skip}
  :yq             {:alpine "yq-go" :rhel :skip}
  :zoxide         :pkg
  :zstd           :pkg
  }
 }
